*, *::before,*::after {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 71px;
    background-color: rgb(12, 26, 23) !important ;
}